offerType=501
price=5.77f
priceCode=Tesco Super Store
priceEndDate=2015-01-30 00:00:00.000
priceStartDate=2015-01-06 00:00:00.000
priceType=30
wasPrice=0.95f
wasWasPrice=0.92f
offerDetailName=STD
offerDetailValue=Standard
eventUID=1000
itemTag=Item Tag
messageType=3
priceDescription=PI
priceUID=570541
productCode=234501
productTypeCode=SKU
sourceIPAddress=172.28.135.88
srcSystem=EPISYS
statusCode=A
userID=EPISYS
